/* CSS Specific to the Translation Console*/
table.table > tbody > tr:not(.full-text) > td.ellipsis,
table.table > tbody > tr > td > span > span.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.table > tbody > tr > td > span {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}
table.table > tbody > tr > td > span > span.ellipsis {
  display: block;
}

table.table > tbody > tr > td.inherited-value {
  font-style: italic;
}

table.table > tbody > tr > td.locale-code-cell {
  vertical-align: middle;
}

table.table > tbody > tr > td {
  line-height: 1.71428571;
}
table.table > tbody > tr > td > .btn:not(.pull-right):not(.pull-left) {
  position: relative;
  top: -2px;
}

div.translation-editor textarea,
div.add-entry-container textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
}
div.translation-editor small {
  font-weight: normal;
}

span.rename-context-button {
  cursor: pointer;
}

a.pending-publish {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
  width: 100%;
  white-space: normal;
}

@media (max-width : 767px) { 
  table.table > thead > tr > th.references,
  table.table > tbody > tr > td.references {
    display: none;
  }
  table.table > tbody > tr > td.key.ellipsis,
  table.table > tbody > tr > td.translation.ellipsis {
    max-width: 300px;
  }
  table.table > tbody > tr > td.context > span > span.ellipsis {
    max-width: 120px;
  }
}
@media (min-width : 768px) { 
  table.dataTable {
    table-layout: fixed;
  }
  table[data-table-source] + .dataTables_paginate {
    float: right;
  }
}