/* Work Area */
div.workarea{
    border: 1px solid #ddd;
    background-color: #f4f4f6;
    padding: 10px;
}

/* Sortable Lists */
ul.sortable{
    background-color: transparent;
    width: auto;
    list-style-type: none;
    min-height: 5px;
    padding: 0 0 0 30px;
}

/* List Items (Category Display) */
div.workarea ul li {
    padding: 5px 0 2px;
}
div.category-action {
    display: none;
    float: right;
}
ul.subcategories.sortable.ui-sortable li {
    border-left: 1px solid #ddd;
    z-index: 4000;
}
ul.subcategories.sortable.ui-sortable li:before {
    content: "--";
    color: #ddd;
}
ul.subcategories.sortable.ui-sortable li:last-child{
    border-left: none;
    position: relative;
}
ul.subcategories.sortable.ui-sortable li:last-child:after{
    content:""; 
    background: #ddd; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 30px; 
    width: 1px;
}
div.category{
    border: 1px solid #ddd;
    padding: 8px 9px;
    background-color: white;
    width: 200px;
    display: inline-block;
    height: 40px;
    cursor: move;
}

div.category.selected {
    border: 1px solid #00427e;
    background-color: #e4f2ff;
}

div.category div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    display: inline-block;
}

/* New and Update forms */
div.change-form {
    margin-top: 10px;
    overflow: hidden;
}
button.add-category, button.edit-category {
    margin-top: 10px;
}


/* jQuery Sortable Overrides */
.ui-sortable-placeholder {
    border: 2px dashed #aaa!important;
    height: 35px;
    width: 300px;
}


ul.top {
    padding-left: 5px;
}

/* modal z-index fix*/
div.kd-modal-content {
    z-index: 4500;
    width: 300px !important;
}
div.kd-modal-backdrop {
    z-index: 4200;
}
div.kd-modal-footer {
    overflow: hidden;
    min-height: 200px;
}



