// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//   Buttons
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Form Button Styles
 *-------------------------------------- */
 
button, input[type='submit'], input[type='button'], .btn {
  background-color: $gray;
  color: $black;
  display: inline-block;
  padding: 0.2rem 1.2rem;
  height: 2.6rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  @include border-radius();
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.1rem solid transparent;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  
  &:hover {
    background-color: tint($grayLight, 10%);
  }
  
  &.round {
    height: 5rem;
    width: 5rem;
    font-weight: 400;
    font-size: 3rem;
    border-radius: 50%;
    padding: 0;
  }

      display: inline-block;
      padding: 0.2rem 1.2rem;
      height: 2.6rem;
      font-weight: 700;
      text-align: center;
      white-space: nowrap;
      @include border-radius();
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 0.1rem solid transparent;
      -webkit-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
      
      &[data-button-type='previous-page']{
        position: relative;
        padding-left: 2.4rem;
        background-color: $gray;
        color: black;
        &:hover {
          background-color: tint($gray, 10%);
        }

      }
      &[data-button-type='previous-page']:before {
        font-family: 'FontAwesome';
        font-weight: 400;
        content: '\f053';
        position: absolute;
        top: 50%;
        left: 0.8rem;
        width: 1.4rem;
        height: 1.4rem;
        line-height: 1;
        margin-top: -0.7rem;
      }
      
      &[data-button-type='save']{
        position: relative;
        padding-left: 2.8rem;
        background-color: tint($gray, -10%);
        color: black;
        &:hover {
          background-color: $gray;
        }
      }
      &[data-button-type='submit-page']{
        position: relative;
        padding-left: 2.8rem;
        background-color: tint($gray, -10%);
        color: black;
        &:hover {
          background-color: $gray;
        }
      }
      &[data-button-type='save']:before {
        font-family: 'FontAwesome';
        font-weight: 400;
        content: '\f0c7';
        position: absolute;
        top: 50%;
        left: 1.2rem;
        width: 1.4rem;
        height: 1.4rem;
        line-height: 1;
        margin-top: -0.7rem;
      }
      
      &[data-button-type='custom']{
        background-color: $gray;
        border-color: $gray;
        color: black;
        &:hover {
          background-color: tint($gray, 5%);
        }
      }
}