/* Styles go here */
.kd-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

/* Modal Content */
.kd-modal-content {
  position: relative;
  background-color: subtle($secondary, 95%);
  margin: auto;
  margin-top: 60px;
  padding: 0;
  border: 1px solid subtle($secondary, 75%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Modal Header */
.kd-modal-header {
  padding: 2px 16px;
  color: $secondary;

  h4 {
    text-transform: none;
  }
  h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid subtle($secondary, 75%);
  }
}

/* Modal Body */
.kd-modal-body {
  padding: 8px 16px;

  table {
    width: 100%;
    th, td {
      padding: 0.5em;
    }
    &.table-hover tbody tr:hover {
      background-color: subtle($secondary, 90%);
    }
  }
}

/* Modal Footer */
.kd-modal-footer {
  padding: 6px 16px;
  background-color: subtle($secondary, 85%);
  border-top: 1px solid subtle($secondary, 75%);
}

@media (max-width: 767px) {
  .kd-modal-content {
    width: 90% !important;
  }
}
