/* CSS Specific to the User Management Console*/
table#users-table img.gravatarimg {
  border-radius: 50%;
  margin: -0.5rem 0;
}
table#users-table.dataTable.dtr-inline.collapsed > tbody > tr.child > td.child > ul > li > span {
    white-space: normal;
    width: auto;
    display: block;
}
table#users-table.dataTable.dtr-inline.collapsed > tbody > tr.child > td.child > ul > li > span.dtr-title {
    overflow: hidden;
    text-align: left;
}
table#users-table.dataTable.dtr-inline.collapsed > tbody > tr.child > td.child > ul > li > span.dtr-data {
    float: none;
    overflow: hidden;
}