/* CSS Specific to the Group Management Console*/
table.groups-table:not(.open) {
    display: none;
}
table.groups-table-hierarchy tbody tr td {
    padding: 0;
}
table.groups-table-hierarchy tbody tr td ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
table.groups-table-hierarchy tbody tr td li {
    padding: 6px;
    margin: 6px 0 6px 6px;
}
table.groups-table-hierarchy tbody tr td ul {
    margin-left: 18px;
}
table.groups-table-hierarchy tbody tr td li.group-item {
    position: relative;
    background-color: whitesmoke;
}
table.groups-table-hierarchy tbody tr td li.group-item::before {
    font-family: FontAwesome;
    content: "\f04d";
    opacity: 0;
    position: absolute;
    left: -18px;
}
table.groups-table-hierarchy tbody tr td li.group-item.has-subgroups::before {
    content: "\f067";
    opacity: 0.5;
}
table.groups-table-hierarchy tbody tr td li.group-item.has-subgroups.open::before {
    content: "\f068";
    opacity: 0.5;
}
table.groups-table-hierarchy tbody tr td li.group-item.has-subgroups:hover::before {
    opacity: 0.8;
}
table.groups-table-hierarchy tbody tr td li.has-subgroups:hover {
    cursor: pointer;
}
table.groups-table-hierarchy tbody tr td li:not(.subgroup-item):hover {
    background-color: #efefef;
}
table.groups-table-hierarchy tbody tr td li.subgroup-item {
    padding: 0;
    margin-left: 12px;
    display: none;
    border-left: 1px solid #efefef;
}
table.groups-table-hierarchy tbody tr td li.subgroup-item.open {
    display: list-item;
}
table.groups-table-flat tbody tr td.parent-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span.table-view-buttons span {
    padding: 5px;
    cursor: pointer;
    opacity: 0.4;
    font-size: 60%;
}
span.table-view-buttons span.open {
    opacity: 1;
}
span.table-hierarchy-option span {
    margin-left: 10px;
}

div.groups-tab-content {
    background: transparent;
}

div.groups-tab-content div.group-form-container {
    margin-top: 20px;
}
div.groups-tab-content div.group-form-container span.edit-parent-path {
    color: #00427E;
    padding: 5px;
}
div.groups-tab-content div.group-form-container span.edit-parent-path:hover {
    cursor: pointer;
    color: #0061b9;
}
div.groups-tab-content div.page-header {
    margin: 10px 0;
}

div.parent-path-item div.parent-path-item {
    margin-left: 16px;
    margin-top: 4px;
}
div.parent-path-item button {
    margin-right: 4px;
}
div.parent-path-item span.remove-parent-path {
    color: #9d261d;
    padding: 5px;
}
div.parent-path-item span.remove-parent-path:hover {
    cursor: pointer;
    color: #d13427;
}
div.parent-path-item > select:not([data-has-subgroups]) ~ div.current-group-item button,
div.parent-path-item > select[data-has-subgroups='false'] ~ div.current-group-item button {
    display: none;
}
div.parent-path-item > select:not([data-has-subgroups]) ~ div.current-group-item div.parent-path-item,
div.parent-path-item > select[data-has-subgroups='false'] ~ div.current-group-item div.parent-path-item {
    margin-left: 0;
}
strong.current-group-name:empty::before {
    content: "Group Name";
}

@media (max-width : 768px) { 
  table.groups-table-hierarchy tbody tr td ul {
    margin-left: 18px;
  }
}