div.form-submission.sub-heading,
div.form-activity.sub-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
div.form-submission.sub-heading .heading-text,
div.form-activity.sub-heading .heading-text {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}

div.form-submission.sub-heading .sub-heading-text,
div.form-activity.sub-heading .sub-heading-text {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0 1rem;
  font-weight: bold;
}

div.form-activity div#response-container {
  @include border-radius();
  background-color: white;
  padding: 1rem;
}

div.form-activity-content ul#form-activity-nav {
  margin-bottom: 1rem;
}
div.form-activity-content ul#form-activity-nav li {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;
}